{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <style>
        /* Thêm border cho bảng giá vé */
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 1.2em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        /* Định dạng header của bảng */
        table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        /* Định dạng các hàng trong bảng */
        table th, table td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

        /* Thêm hiệu ứng hover cho các hàng */
        table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

    </style>
    <div class="background-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flight-details">
                        <h1>{% trans "Flight" %} {{ flight.flight_number }}</h1>

                        <h2>{% trans "Departure Information" %}</h2>
                        <p><strong>{% trans "Airport" %}:</strong> {{ departure_airport.name }}</p>
                        <p><strong>{% trans "City" %}:</strong> {{ departure_airport.city }}</p>
                        <p><strong>{% trans "Country" %}:</strong> {{ departure_airport.country }}</p>
                        <p><strong>{% trans "Departure Time" %}:</strong> {{ flight.departure_time }}</p>

                        <h2>Arrival Information</h2>
                        <p><strong>{% trans "Airport" %}:</strong> {{ arrival_airport.name }}</p>
                        <p><strong>{% trans "City" %}:</strong> {{ arrival_airport.city }}</p>
                        <p><strong>{% trans "Country" %}:</strong> {{ arrival_airport.country }}</p>
                        <p><strong>{% trans "Arrival Time" %}:</strong> {{ flight.arrival_time }}</p>

                        <h2>Price</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Ticket Type</th>
                                    <th>Price</th>
                                    <th>Available Seats</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in ticket_types %}
                                <tr>
                                    <th>{{ ticket.ticket_type.name }}</th>
                                    <th>{{ ticket.price }}</th>
                                    <th>{{ ticket.available_seats }}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="btn-back">
                            <a href="{% url 'flight' %}" class="btn btn-secondary">{% trans "Back to Flight List" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
