{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
<!-- welcome start -->
<section id="home" class="welcome">
    <div class="container">
        <div class="welcome-txt">
            <h2>{% trans "BOOK YOUR FLIGHT AT A REASONABLE PRICE" %}</h2>
            <p> {% trans "Get ready to take off with our budget-friendly flight options." %} </p>
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">
                <button class="welcome-btn">{% trans "Sign in - Sign up" %}</button>
            </a>
            {% endif %}
        </div>
    </div>
    {% include "components/search.html" %}
</section>
<!--/.welcome-->
<!--welcome end -->

<!--booking start -->
<section id="booking" class="booking">
    <div class="container">
        <div class="booking-content">
            {% if error_message %}
            <div class="row">
                <div class="single-booking-item">
                    <div class="single-booking-icon">
                        <i class="flaticon-arrow-down-angle"></i>
                    </div>
                    <p>
                        {{ error_message }}
                    </p>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="single-booking-item">
                    <div class="single-booking-icon">
                        <i class="flaticon-arrow-down-angle"></i>
                    </div>
                    <h2>{{ from_airport }} --- {{ to_airport }}</h2>
                </div>
            </div>
            <div class="row">
                {% if departure_flights %}
                {% for flight in departure_flights %}
                <div class="col-md-6">
                    <div class="single-booking-item">
                        <h2>
                            <a href="#">
                                <h2>{{ flight.departure_time|date:"d/m/Y g:i A" }} - {{ flight.arrival_time|date:"d/m/Y g:i A" }}
                                </h2>
                                <h2>{{ flight.departure_airport }} --- {{ flight.arrival_airport }}</h2>
                            </a>
                        </h2>
                        <i class="material-icons">&#xe7fd;</i>
                        {{ flight.ticket_type_price }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if trip_type == 'round' %}
            <div class="row">
                <div class="single-booking-item">
                    <div class="single-booking-icon">
                        <i class="flaticon-arrow-down-angle"></i>
                    </div>
                    <h2>{{ to_airport }} --- {{ from_airport }}</h2>
                </div>
            </div>
            <div class="row">
                {% if return_flights %}
                {% for flight in return_flights %}
                <div class="col-md-6">
                    <div class="single-booking-item">
                        <h2>
                            <a href="#">
                                <h2>{{ flight.departure_time|date:"d/m/Y g:i A" }} - {{ flight.arrival_time|date:"d/m/Y g:i A" }}
                                </h2>
                                <h2>{{ flight.departure_airport }} --- {{ flight.arrival_airport }}</h2>
                            </a>
                        </h2>
                        <i class="material-icons">&#xe7fd;</i>
                        {{ flight.ticket_type_price }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    </div>
    </div>
    </div>
    </div><!--/.container-->
</section><!--/.booking-->
<!--booking end-->
{% endblock %}
