{% extends "base_generic.html" %}
{% load i18n %}

{% load static %}

{% block content %}
<section class="section section1">
    <div class="navigation-back"></div>
    <div class="gif-div">
        <img src="{% static 'images/process.gif' %}" alt="processing">
    </div>
    <div class="header-before">
        {% trans "Processing Payment" %}...
    </div>
    <div class="below-header">
        {% trans "Please wait while we are processing your payment" %}.
    </div>
</section>
<input type="hidden" class="ref1" value="{{ticket1.booking_id}}">
<input type="hidden" class="ref2" value="{{ticket2.booking_id}}">
<section class="section section2">
    <div class="navigation-back"></div>
    <div class="svg-div-c">
        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
    </div>
    <div class="header-after">
        {% trans "Congratulations, Your flight booking is confirmed" %}.
    </div>
    <div class="details-div">
        <div class="flight1">
            {% trans "Booking Ref. Number" %}: <span class="ref">{{ref1}}
            (<span class="from1">{{ticket1.flight_ticket_type.flight.departure_airport.airport_code}}</span> 
            <span>&#8594;</span> 
            <span class="to1">{{ticket1.flight_ticket_type.flight.arrival_airport.airport_code}}</span>)
        </div>
        {% if ticket2 %}
            <div class="flight2">
                {% trans "Booking Ref. Number" %}: <span class="ref">{{ref2}}
                (<span class="from2">{{ticket2.flight_ticket_type.flight.departure_airport.airport_code}}</span> 
                <span>&#8594;</span> 
                <span class="to2">{{ticket2.flight_ticket_type.flight.arrival_airport.airport_code}}</span>)
            </div>
        {% endif %}
    </div>
    <div class="ticket-div">
        <div>
            <form action="#" method="get" target="_blank">
                <input type="hidden" name="ref" value="{{ticket1.booking_id}}">
                <button type="submit" class="btn btn-primary">
                    {% trans "Print Ticket" %} ({{ticket1.flight_ticket_type.flight.departure_airport.airport_code}} {% trans "to" %} 
                    {{ticket1.flight_ticket_type.flight.arrival_airport.airport_code}})
                </button>
            </form>
            {% if ticket2 %}
                <form action="#" method="get" target="_blank">
                    <input type="hidden" name="ref" value="{{ticket2.booking_id}}">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Print Ticket" %} ({{ticket2.flight_ticket_type.flight.departure_airport.airport_code}} {% trans "to" %} 
                        {{ticket2.flight_ticket_type.flight.arrival_airport.airport_code}})
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
</section>
<section class="section section3">
    <div class="navigation-back"></div>
    <div class="svg-div-e">
        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
    </div>
    <div class="header-after star">
        {% trans "There was an error while processing the payment" %}.
    </div>
    <div class="below-header">
        {% trans "Please retry after sometime" %}.
    </div>
    <div class="ticket-div">
        <button class="btn btn-primary" type="button" onclick="window.location.href = '/'">{% trans "Go Home" %}</button>
    </div>
</section>

<script type="text/javascript">
    setTimeout(function() {
        document.querySelector('.section1').style.display = 'none';

        var status1 = '{{ ticket1.status }}'; 
        var status2 = '{% if ticket2 %}{{ ticket2.status }}{% else %}None{% endif %}'; 

        if (status1 === 'Confirmed' && (status2 === 'Confirmed' || status2 === 'None')) {
            document.querySelector('.section2').style.display = 'block';
        } else {
            document.querySelector('.section3').style.display = 'block';
        }
    }, 5000); 

    document.querySelector('.section2').style.display = 'none';
    document.querySelector('.section3').style.display = 'none';
</script>
{% endblock %}
