{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <style>
        .background-banner {
            background-image: url("{% static 'images/welcome/welcome-banner.jpg' %}");
            background-size: cover;
            background-position: center;
            padding-top: 120px;
            padding-bottom: 20px;
            min-height: 100vh;
        }
    </style>
    <div class="background-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="model-form">
                        <div style="text-align: center">
                            <h3>{% trans "Your Bookings" %}</h3><br>
                        </div>

                        {% if bookings %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">{% trans "Booking ID" %}</th>
                                            <th scope="col">{% trans "Flight" %}</th>
                                            <th scope="col">{% trans "Date" %}</th>
                                            <th scope="col">{% trans "Status" %}</th>
                                            <th scope="col">{% trans "Actions" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking in bookings %}
                                            <tr>
                                                <td>{{ booking.booking_id }}</td>
                                                <td>{{ booking.flight_ticket_type.flight.flight_number }}</td>
                                                <td>{{ booking.flight_ticket_type.flight.departure_time }}</td>
                                                <td>{{ booking.status }}</td>
                                                <td>
                                                    {% if booking.status == "Confirmed" %}
                                                        {% if booking.flight_ticket_type.flight.departure_time|timeuntil < "24:00:00" %}
                                                            <p>{% trans "Cancellation not allowed within 24 hours of flight time." %}</p>
                                                        {% else %}
                                                        <form method="POST" action="{% url 'cancel_booking' booking_id=booking.booking_id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn-cancel">{% trans "Cancel" %}</button>
                                                        </form>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div style="text-align: center">
                                <p>{% trans "No bookings found." %}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
