<!--contact start-->
<footer id="contact" class="contact">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">CheapJet</a>
                        </div>
                        <p>
                            Your adventure starts here—secure your flight at unbeatable prices today
                        </p>
                        <div class="footer-contact">
                            <p>info@CheapJet.com</p>
                            <p>+84 912345678</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>about CheapJet</h2>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">flighteer</a></li>
                            <li><a href="#">terms <span> of booking</span></a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="single-footer-widget">
                        <h2>team members</h2>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <ul>
                                    <li><a href="#">Nguyễn Văn A</a></li>
                                    <li><a href="#">Nguyễn Văn B</a></li>
                                    <li><a href="#">Nguyễn Văn C</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2.5 col-sm-4">
                    <div class="single-footer-widget">
                        <h2>registration</h2>
                        <div class="footer-newsletter">
                            <p>
                                Sign up to receive the latest promotions
                            </p>
                        </div>
                        <div class="hm-foot-email">
                            <div class="foot-email-box">
                                <input type="text" class="form-control" placeholder="Enter Email">
                            </div><!--/.foot-email-box-->
                            <div class="foot-email-subscribe">
                                <span><i class="fa fa-arrow-right"></i></span>
                            </div><!--/.foot-email-icon-->
                        </div><!--/.hm-foot-email-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Contact us on
                    </p><!--/p-->
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Back to Top" aria-hidden="true"></i>
        </div>

    </div><!--/.scroll-Top-->

</footer><!--/.contact-->
<!--contact end-->
